body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.post{
  margin: 0.5em;
  border-radius: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 1px 1px 5px 0px;
}